<% layout('/layouts/boilerplate') -%>
    <main>
        <section class="hero">
            <h1><b>Buy and sell <span class="highlight"">LOCALLY</span><br> with your local super market.</b></h1>
            <p>Discover fresh deals, reserve items, and chat with sellers in real-time for a seamless local shopping experience.</p>
            <a href="http://localhost:8080/listings"><button class="explore">Explore now</button></a>
        </section>

        <section class="marketplace">
            <!-- Marketplace illustration -->
            <div class="market-image">
                <!-- Placeholder for the illustration - use background images or SVGs as needed -->
                <img src="../images/DK.png">
            </div>
            <div class="container">
              <h2 class="sm-heading"><b>How It Works?</b></h2>
                <div class="section-buyer">
                  <button class="explore-btn">For Buyers</button>
                  <div class="row">
                    <img src="../images/Group2.png" alt="for_buyer">
                  </div>
                  
                </div>
                
                <div class="section-seller">
                  <button class="explore-btn">For Sellers</button>
                  <div class="row">
                    <img src="../images/Group1.png" alt="for_seller">

                    </div>
                  
                </div>
              </div>
            
        </section>
    </main>

